@model List<B2B.Models.CategoryWithPagesDTO>

@{ var currentPath = Request.Url.AbsolutePath; }

<a href="javascript:void(0)" class="sidebar_switch on_switch ttip_r" title="Hide Sidebar">Sidebar switch</a>

<div class="sidebar">
    <div class="sidebar_inner_scroll">
        <div class="sidebar_inner" style="margin-bottom: -92px; min-height: 100%;">
            <form action="#" class="input-group input-group-sm">
                <input autocomplete="off" name="query" class="search_query form-control input-sm" size="16"
                       placeholder="Search..." type="text">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </form>

            <div id="side_accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @if (currentPath.Contains("management"))
                        {
                            <a href="/management" data-parent="#side_accordion"
                               class="accordion-toggle">
                                <i class="glyphicon glyphicon-home"></i> Anasayfa
                            </a>
                        }
                        else
                        {
                            <a href="/" data-parent="#side_accordion"
                               class="accordion-toggle">
                                <i class="glyphicon glyphicon-home"></i> Anasayfa
                            </a>
                        }
                    </div>
                </div>

                @foreach (var category in Model)
                {
                    var categoryID = category.CategoryName.Replace(" ", "_");
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#@categoryID" data-parent="#side_accordion" data-toggle="collapse"
                               class="accordion-toggle">
                                <i class="@category.Icon"></i> @category.CategoryName
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="@categoryID">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    @foreach (var page in category.Pages)
                                    {
                                        <li><a href="@page.Url">@page.Name</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }

                <div class="panel panel-default" style="display:none">
                    <div class="panel-heading">
                        <a href="help" class="accordion-toggle">
                            <i class="glyphicon glyphicon-question-sign"></i> Yardım
                        </a>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#" onclick="logout()" class="accordion-toggle">
                            <i class="glyphicon glyphicon-log-out"></i> Çıkış
                        </a>
                    </div>
                </div>
            </div>

            <div class="push"></div>
        </div>

        <div class="sidebar_info">
            <ul class="list-unstyled text-center">
                <li>
                    <strong style="color: #c02130c4;">Alfemo BT 2024</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
